<?xml version="1.0"?>

<launch>

	<arg name="map_file" default="$(find robutler_navigation)/map/pci.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <include file="$(find robutler_navigation)/launch/amcl.launch" />

  <include file="$(find robutler_navigation)/launch/move_base.launch" />

</launch>
